asgiref==3.7.2
cffi==1.16.0
distlib==0.3.8
dj-database-url==2.1.0   
Django==5.0.1
filelock==3.13.1
gunicorn==21.2.0
packaging==23.2
platformdirs==4.1.0
psycopg2==2.9.9
psycopg2-binary==2.9.9
pycparser==2.21
sqlparse==0.4.4
typing_extensions==4.9.0
tzdata==2023.4
virtualenvwrapper-win==1.2.7
whitenoise==6.6.0
